
body {
	background-color: black;
	
	font: 30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: black;
	text-rendering: optimizelegibility;
	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}
a {text-decoration: none;}

.container {
	overflow: hidden;
	background-color: #000;

/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}




header {
	height: 60px;
	position: relative;
	background-color: whitesmoke;
}
header h1 {
	color: black;
	text-align: left;
	font-size: 30px;
	line-height: 60px;
	font-weight: bold;
	padding-left: 20px;
}

.burger {
	position: absolute;
	float: left;
	padding: 10px;
	top: 4px;
	left: 10px;
	
	display: none;
}
.burger li {
	width: 30px;
	height: 4px;
	background-color:whitesmoke;
	border-radius: 3px;
	margin: 5px 0;
}
.burger.open li {background-color: whitesmoke;}

nav {
	position: absolute;
	top: 0;
	right: 5px;
}
nav li {
	float: left;
	
	display: inline-block;
}
nav li a {
	font-size: 18px;
	color: black;
	padding: 24px 15px;
	
	display: block;
}
nav li a:hover {color: #000;}



.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: black;
  border: 2px solid black;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: black;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
